body{
    background-color: #00f;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barra_total{
    display: inline-block;
    width: 100vw;
    background: #fff;
    text-align: center;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    margin: 1vh;
    box-sizing: border-box;
}

.logo:hover{
    background-color: #ddd;
}

.lista__barra{
    display: inherit;

}

.lista__item{
    display: inherit;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
}

.lista__item:hover{
    background-color: #bbb;
}

.boton_info{
    display: inherit;
    height: 30px;
    width: 30px;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    box-sizing: border-box;
}